.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInMove 1s forwards;
  }

  @keyframes fadeInMove {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  
  body {
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
    min-height: 100vh;
  }