/*sayfanin arka stili icin*/
[data-bs-theme="light"] body {
  background: linear-gradient(135deg, #ffffff 0%, #757570 100%);
}
[data-bs-theme="dark"] body {
  background: linear-gradient(135deg, #000000, #291c3d 100%);
}
[data-bs-theme="auto"] body {
  background: linear-gradient(135deg, #ececec 0%, #dcdcdc 100%);

} 
/*mod iconu icin */
.bi {
  width: 1rem;
  height: 1rem;

}
  /*sayfa yuklendiginde form hareket ettirmek icin*/
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInMove 1s forwards;
  }
  @keyframes fadeInMove {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
/*kolayca hareket ettirmek icin */
  .zoom-on-hover {
    transition: transform 0.3s ease; 
  }
  /*fare geldiginde %10 buyutmak icin*/
  .zoom-on-hover:hover {
    transform: scale(1.1); 
  }
  

  